@import './markdown.css';
@import './colors.scss';
@import './typography.scss';

html,
body,
#app {
  max-width: 400px;
  height: 100vh;
  max-height:900px;
  margin: 0 auto;
  padding: 0;
  font-family: sassoon-regular;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.cta{
  width: 100%;
  background-color: $maximum-yellow-red;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 5px;
}
